html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: Aller, sans-serif;
    margin: 0;
}

@font-face {
    font-family: Aller;
    src: url('Aller_Rg.ttf');
}

header {
    align-items: center;
    background-image: linear-gradient(#509bfc, black);
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1rem;
}

header div {
    align-items: center;
    display: flex;
    gap: 1rem;
}

header h1 {
    color: #75cc41;
    display: none;
    font-size: inherit;
    margin: 0;
}

header img {
    height: 6rem;
}

header ol {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
}

a {
    color: inherit;
    transition: color 0.25s ease-in-out;
}

a:hover,
a:focus {
    color: #75cc41;
    outline: none;
}

#games,
#awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#games > div {
    aspect-ratio: 1440 / 900;
    background-position: center;
    background-size: 100%;
    box-shadow: inset 0 0 5px black;
    transition: background-size 0.5s ease-in-out;
    width: 100%;
}

#games > div:hover {
    background-size: 125%;
}

#games section {
    align-items: end;
    background-color: #00000080;
    box-sizing: border-box;
    display: flex;
    filter: opacity(0%);
    font-size: 1.5rem;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
    transition: filter 0.5s ease-in-out;
}

#games section:hover,
#games section:focus-within {
    filter: opacity(100%);
}

#games h2 {
    font-size: inherit;
    margin: 0;
}

#games span {
    color: #75cc41;
    font-size: 2rem;
}

#games p {
    margin: 1rem 0 0;
}

#games ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#games a {
    border: 1px solid #fde740;
    border-radius: 1rem;
    display: inline-block;
    padding: 0.5rem;
    pointer-events: none;
    text-decoration: none;
    white-space: nowrap;
}

#games section:hover a,
#games section:focus-within a {
    animation: enable 0.25s step-end forwards;
}

@keyframes enable {
    to {
        pointer-events: auto;
    }
}

#awards {
    background-image: linear-gradient(black, #509bfc);
    padding: 1rem 0;
}

#awards div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

#awards img {
    height: 4rem;
}

#awards span {
    flex-grow: 1;
}

#about {
    position: relative;
}

#about::before {
    background-image: url('img/winning_team_ggj_2023.jpg');
    background-position: center 20%;
    background-size: cover;
    content: '';
    filter: brightness(50%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#about p {
    font-size: 2.25rem;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

@media (min-width: 576px) {
    header {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    #games section {
        padding: 2rem;
    }

    #awards div {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    #about p {
        font-size: 3rem;
        padding: 4rem;
    }
}

@media (min-width: 880px) {
    header h1 {
        display: block;
    }

    header ol {
        gap: 3rem;
    }

    #games > div,
    #awards div {
        width: 50%;
    }
}
